<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="main.js" defer></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

 	 <div id="app">
        
        <v-dialog btn-text="Согласен">Вопрос 1</v-dialog>
        <v-dialog btn-text="Хорошо">Вопрос 2</v-dialog>

    </div>

    <template id="dialog-template">
        <div>
            <div class="Dialog" v-show="active">
                <div class="Dialog__overlay" @click="close()"></div>
                <div class="Dialog__content">
                    <div class="Dialog__body">
                        <slot></slot>
                    </div>
                    <div class="Dialog__footer">
                        <button class="btn" @click="onCancel()">Отмена
                        </button>
                        <button class="btn btn-ok" @click="onConfirm()">
                        {{ btnText }}
                    	</button>
                    </div>
                </div>
            </div>

            <a class="link" href="#" @click="open()">ссылка</a>
        </div>
    </template>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>